<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>email</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      tabindex="0"
      role="heading"
    >Log in with your email and password</mat-card-title>
    <mat-card-subtitle tabindex="0"> To register a new account enter your email and a new password then click "Register" button. </mat-card-subtitle>
    <mat-card-subtitle tabindex="0"> To log in with an existing account enter your email and password then click "Log in" button. </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label
          tabindex="-1"
          aria-hidden="true"
          id="formLabelEmail"
        >Enter your email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          aria-labelledby="formLabelEmail"
        >
        <mat-error
          *ngIf="email.errors?.required"
          aria-live="polite"
          tabindex="0"
        > Email is required. </mat-error>
        <mat-error
          *ngIf="email.errors?.maxlength"
          aria-live="polite"
          tabindex="0"
        > Email must be at less than 100 characters long. </mat-error>
        <mat-error
          *ngIf="email.errors?.email"
          aria-live="polite"
          tabindex="0"
        > Email value is invalid. </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label
          tabindex="-1"
          id="formLabelPassword"
          aria-hidden="true"
        >Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          aria-labelledby="formLabelPassword"
          formControlName="password"
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="password.errors?.required"
          aria-live="polite"
          tabindex="0"
        > Password is required. </mat-error>
        <mat-error
          *ngIf="password.errors?.maxlength"
          aria-live="polite"
          tabindex="0"
        > Password must be at less than 100 characters long. </mat-error>
        <mat-error
          *ngIf="password.errors?.minlength"
          aria-live="polite"
          tabindex="0"
        > Password mast be at least 6 characters long. </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button
        (click)="login()"
        *ngIf="form.valid && form.dirty"
        mat-raised-button
      >Log in</button>
      <button
        (click)="register()"
        *ngIf="form.valid && form.dirty"
        mat-raised-button
      >Register</button>
      <a
        [routerLink]="resetPasswordLink"
        mat-raised-button
      >Forgot password?</a>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
