<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>playlist_add_check</mat-icon>
    </div>
    <mat-card-title
      *ngIf="boat_id && boatName"
      aria-level="1"
      id="pageTitle"
      role="heading"
      tabindex="0"
    >Checklists for {{boatName}}</mat-card-title>
    <mat-card-title
      *ngIf="!boat_id && !boatName"
      aria-level="1"
      id="pageTitle"
      role="heading"
      tabindex="0"
    >All Checklists</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container [ngTemplateOutlet]="sailChecklistTable"></ng-container>
  </mat-card-content>
</mat-card>

<ng-template #sailChecklistTable>
  <app-material-table
    (filterHandler)="filterHandler($event)"
    [dataSource]="dataSource"
    [defaultFilterInfo]="filterInfo"
    [displayedColumns]="displayedColumns"
    [loading]="loading"
    [paginatedData]="paginatedData"
    paginationLabel="Select page of checklists"
  >
    <ng-container
      matSort
      matSortActive="created_at"
      matSortDirection="desc"
      tableColumns
    >
      <ng-container matColumnDef="sail.entity_number">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Sail #</th>
        <td
          mat-cell
          *matCellDef="let element"
        > <a [routerLink]="viewSailRoute(element.sail.id)">{{element.sail.entity_number}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Created at </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.created_at | humanDateWithTime}} </td>
      </ng-container>

      <ng-container matColumnDef="sail.name">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Sail </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.sail.name}} </td>
      </ng-container>

      <ng-container matColumnDef="sail.boat.name">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Boat </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.sail.boat.name}} </td>
      </ng-container>

      <ng-container matColumnDef="checklist_type">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
          class="align-center"
        > Checklist Type </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="align-center"
        > {{element.checklist_type}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th
          *matHeaderCellDef
          mat-header-cell
        > </th>
        <td
          mat-cell
          *matCellDef="let element"
        > <a
            [routerLink]="viewSailChecklistRoute(element.sail.id)"
            mat-flat-button
            title="Click to go to checklist details page {{element.sail.name}}"
          ><mat-icon>visibility</mat-icon></a> </td>
      </ng-container>

    </ng-container>
  </app-material-table>
</ng-template>
