.mat-list-item:hover {
  background-color: lightblue;
}

mat-action-list {
  margin-bottom: 20px;
}

mat-action-list a:nth-child(even) {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

mat-action-list a:last-child {
  border-bottom: 1px solid black;
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
}