<mat-list>
  <mat-list-item *ngFor="let item of checklist.checklist| keyvalue">
    <div
      class="checklist-item"
      tabindex="0"
      role="listitem"
      attr.aria-label="{{itemLabel(item.key)}}"
    >
      <label
        tabindex="-1"
        aria-hidden="true"
      >{{itemLabel(item.key)}}</label>
      <span
        tabindex="-1"
        aria-hidden="true"
      >{{item.value}}</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div
      class="checklist-item"
      tabindex="0"
      role="listitem"
      attr.aria-label="{{checklist?.signed_by_crew? 'Signed by crew': 'Not signed by crew'}}"
    >
      <label
        tabindex="-1"
        aria-hidden="true"
      >Signed By Crew</label>
      <span
        tabindex="-1"
        aria-hidden="true"
      >{{checklist?.signed_by_crew ? "Yes" : "No"}}</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div
      class="checklist-item"
      tabindex="0"
      role="listitem"
      attr.aria-label="{{checklist?.signed_by_skipper? 'Signed by skipper': 'Not signed by skipper'}}"
    >
      <label
        tabindex="-1"
        aria-hidden="true"
      >Signed By Skipper</label>
      <span
        tabindex="-1"
        aria-hidden="true"
      >{{checklist?.signed_by_skipper ? "Yes" : "No"}}</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div
      class="checklist-item-comments"
      tabindex="0"
      role="listitem"
      attr.aria-label="Comments: {{checklist?.comments || 'none'}}"
    >
      <label
        tabindex="-1"
        aria-hidden="true"
      >Comments</label>
      <p
        tabindex="-1"
        aria-hidden="true"
      >{{checklist?.comments || "Not provided."}}</p>
    </div>
  </mat-list-item>
</mat-list>
