<mat-card *ngIf="user">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>troubleshoot</mat-icon>
    </div>
    <mat-card-title
      role="heading"
      tabindex="0"
      id="pageTitle"
    >DB Query Runner</mat-card-title>
    <mat-card-subtitle *ngIf="!!saved_query_id">{{queryForm.controls.name.value}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button
      (click)="deleteSavedQuery()"
      *ngIf="!!saved_query_id"
      [disabled]="loading"
      mat-raised-button
    >Delete</button>
  </mat-card-actions>
  <mat-card-content>
    <form
      [formGroup]="queryForm"
      class="query-controls"
    >
      <mat-form-field>
        <mat-label
          aria-hidden="true"
          tabindex="-1"
        >Query Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label
          aria-hidden="true"
          tabindex="-1"
        >Query</mat-label>
        <textarea
          cdkAutosizeMaxRows="10"
          cdkAutosizeMinRows="2"
          cdkTextareaAutosize
          matInput
          type="text"
          formControlName="query"
        ></textarea>
      </mat-form-field>
      <button
        (click)="runQuery()"
        [disabled]="!isFormValid"
        mat-raised-button
        title="Run query"
      >Run</button>
    </form>
    <div class="mat-elevation-z2">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
      >
        <ng-container
          [matColumnDef]="header"
          *ngFor="let header of headers"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          > {{header}} </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="break-all"
          > {{cellData(element[header])}} </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="headers"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: headers;"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[1, 10, 50, 100]"
        showFirstLastButtons
        aria-label="Select page results"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button
        (click)="downloadQuery()"
        [disabled]="!isFormValid"
        mat-raised-button
        title="Download query results"
      >Download</button>
      <button
        (click)="createSavedQuery()"
        [disabled]="!canSave"
        mat-raised-button
        title="Create query"
        *ngIf="!saved_query_id"
      >Create</button>
      <button
        (click)="updateSavedQuery()"
        [disabled]="!canSave"
        mat-raised-button
        title="Save query"
        *ngIf="!!saved_query_id"
      >Save</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
