
mat-panel-description {
  justify-content: right;
}

mat-accordion {
  margin-bottom: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
}

.table-filters {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  padding: 20px 20px 0 20px;
}

@media screen and (max-width: 670px) {
  .table-filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 0 20px;
  }
}