<mat-card *ngIf="user">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>cloud_upload</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      role="heading"
      tabindex="0"
    >Sail Requests</mat-card-title>
    <mat-card-subtitle *ngIf="profile_id">Requested by {{user?.profile?.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <ng-container [ngTemplateOutlet]="CONTROLS"></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <h3
      *ngIf="!newSailRequestsArray?.length"
      tabindex="0"
    >There are no new sail requests.</h3>
    <ng-container *ngTemplateOutlet="REQUEST_LIST; context:{header:'New Requests', requests: newSailRequestsArray}">
    </ng-container>
    <ng-container
      *ngTemplateOutlet="REQUEST_LIST; context:{header:'Scheduled Requests', requests: scheduledSailRequestsArray}"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="REQUEST_LIST; context:{header:'Expired Requests', requests: expiredSailRequestsArray}"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="REQUEST_LIST; context:{header:'Cancelled Requests', requests: cancelledSailRequestsArray}"
    ></ng-container>
  </mat-card-content>
</mat-card>
<ng-template #CONTROLS>
  <a
    [routerLink]="createSailRequestRouteLink"
    mat-raised-button
    title="Create a new sail request"
  >New</a>
  <button
    (click)="download()"
    *ngIf="canDownload"
    mat-raised-button
    title="Click to download sail requests csv file."
  >.CSV</button>
</ng-template>

<ng-template
  #REQUEST_LIST
  let-header="header"
  let-requests="requests"
>
  <ng-container *ngIf="requests?.length">
    <h3 tabindex="0">{{header}}</h3>
    <app-sail-request-list
      [expandedId]="expandedId"
      (setExpandedId)="setExpandedId($event)"
      (cancelSailRequest)="cancelRequest($event)"
      (createSail)="createSail($event)"
      (editSailRequest)="editSailRequest($event)"
      (joinSailRequest)="joinSailRequest($event)"
      (leaveSailRequest)="leaveSailRequest($event)"
      (profileDialog)="showProfileDialog($event)"
      (viewSailRoute)="viewSail($event)"
      [sailRequests]="requests"
      [user]="user"
    ></app-sail-request-list>
  </ng-container>
</ng-template>
