<mat-card *ngIf="user">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>cloud_upload</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      role="heading"
      tabindex="0"
    >Sail Requests</mat-card-title>
    <mat-card-subtitle *ngIf="profile_id">Requested by {{user?.profile?.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <ng-container [ngTemplateOutlet]="CONTROLS"></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <ng-container *ngTemplateOutlet="SAIL_REQUESTS_TABLE"></ng-container>
  </mat-card-content>
</mat-card>

<ng-template #CONTROLS>
  <a
    [routerLink]="createSailRequestRouteLink"
    mat-raised-button
    title="Create a new sail request"
  >New</a>
</ng-template>

<ng-template #SAIL_REQUESTS_TABLE>
  <div class="mat-elevation-z2">
    <div class="sail-requests-table-filters">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input
          matInput
          #filterInput
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <select
          [(ngModel)]="requestCategory"
          [ngModelOptions]="{standalone: true}"
          matNativeControl
          (ngModelChange)="filterSailRequests()"
        >
          <option
            *ngFor="let category of requestCategoryValues"
            [value]="category"
          >{{category}}</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <select
          [(ngModel)]="requestStatus"
          [ngModelOptions]="{standalone: true}"
          matNativeControl
          (ngModelChange)="filterSailRequests()"
        >
          <option
            *ngFor="let status of requestStatusValues | keyvalue"
            [value]="status.value"
          >{{status.key}}</option>
        </select>
      </mat-form-field>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="sortHandler($event)"
      matSortActive="entity_number"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="entity_number">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > No. </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.entity_number}} </td>
      </ng-container>
      <ng-container matColumnDef="created_at">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Created at </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.created_at | humanDate}} </td>
      </ng-container>

      <ng-container matColumnDef="requested_by">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Requested by </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.requested_by.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th
          mat-header-cell
          *matHeaderCellDef
          [disabled]="loading"
          mat-sort-header
        > Category </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Status </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.status}} </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        (click)="viewSailRequest(row.id)"
        *matRowDef="let row; columns: displayedColumns;"
        class="clickable"
        mat-row
        aria-details="Click to go to sail request details page."
      ></tr>
    </table>

    <mat-paginator
      (page)="paginationHandler($event)"
      [disabled]="loading"
      [length]="paginatedData?.total || 0"
      [pageSizeOptions]="[1, 10, 20, 50]"
      [pageSize]="20"
      [showFirstLastButtons]="paginatedData?.total > paginatedData?.count"
      aria-label="Select page of sail request"
    >
    </mat-paginator>
  </div>
</ng-template>
