<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>sailing</mat-icon>
    </div>
    <mat-card-title
      aria-level="1"
      id="pageTitle"
      role="heading"
      tabindex="0"
    >Boats</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a
      mat-raised-button
      [routerLink]="CREATE_BOAT_ROUTE"
      *ngIf="shouldEnableNewButton"
      title="Create a new boat"
      aria-label="Create a new boat"
    >New</a>
    <a
      mat-raised-button
      [routerLink]="MAINTENANCE_ROUTE"
      title="Go to maintenance dashboard"
      aria-label="Go to maintenance dashboard"
    >Maintenance</a>
  </mat-card-actions>
  <mat-card-content>
    <app-boat-list
      title="All Boats"
      [boats]="boatsArray"
      (refreshRequest)="refreshBoats(true)"
      (clicked)="clickedBoat($event)"
    ></app-boat-list>
  </mat-card-content>
</mat-card>
