<mat-card *ngIf="user">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>money_off</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      role="header"
      tabindex="0"
    >Missing Sail Payments</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <ng-container [ngTemplateOutlet]="controls"></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <section
      class="mat-elevation-z8"
      *ngIf="!windowService.isSmallWidth"
    >
      <ng-container [ngTemplateOutlet]="sailClaimsTable"></ng-container>
    </section>
    <section
      class="mat-elevation-z8"
      *ngIf="windowService.isSmallWidth"
    >
      <ng-container [ngTemplateOutlet]="sailClaimsTableMobile"></ng-container>
    </section>
  </mat-card-content>
</mat-card>

<ng-template #controls></ng-template>

<ng-template #sailClaimsTable>
  <app-material-table
    (filterHandler)="filterHandler($event)"
    [dataSource]="dataSource"
    [defaultFilterInfo]="filterInfo"
    [displayedColumns]="displayedColumns"
    [loading]="loading"
    [paginatedData]="paginatedData"
    paginationLabel="Select page of claims"
  >
    <ng-container
      [ngTemplateOutlet]="TABLE_FILTERS"
      tableFilters
    ></ng-container>

    <ng-container
      matSort
      matSortActive="created_at"
      matSortDirection="asc"
      tableColumns
    >
      <ng-container matColumnDef="sail.entity_number">
        <th
          mat-header-cell
          *matHeaderCellDef
          [disabled]="loading"
          mat-sort-header
        > Sail number</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="align-center"
        > <a [routerLink]="viewSailRoute(element.sail?.id)">
            {{element.sail.entity_number}}
          </a></td>
      </ng-container>

      <ng-container matColumnDef="sail.name">
        <th
          mat-header-cell
          *matHeaderCellDef
          [disabled]="loading"
          mat-sort-header
        > Sail name</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="align-center"
        > <a [routerLink]="viewSailRoute(element.sail?.id)">
            {{element.sail.name}}
          </a></td>
      </ng-container>

      <ng-container matColumnDef="profile.name">
        <th
          mat-header-cell
          *matHeaderCellDef
        > Sailor </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="align-center"
        >
          <a
            [routerLink]="viewProfileRoute(element.profile.id)"
            aria-label="This claim is assigned to"
            title="Click to go to their profile page"
          >
            <app-profile-bullet [profile]="element.profile"></app-profile-bullet>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="guest_name">
        <th
          mat-header-cell
          *matHeaderCellDef
        > Guest </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          {{element.guest_name || '-'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Created at </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.created_at | humanDateWithTime:true}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th
          *matHeaderCellDef
          mat-header-cell
        > </th>
        <td
          mat-cell
          *matCellDef="let element"
        > <a
            [routerLink]="outstandingPurchasesRoute(element.profile.id)"
            mat-flat-button
            title="Click to view all outstanding fees for {{element.profile.name}}"
          >
            <mat-icon>visibility</mat-icon>
          </a> </td>
      </ng-container>
    </ng-container>
  </app-material-table>
</ng-template>

<ng-template #sailClaimsTableMobile>
  <app-material-table
    (filterHandler)="filterHandler($event)"
    [dataSource]="dataSource"
    [defaultFilterInfo]="filterInfo"
    [displayedColumns]="displayedColumnsMobile"
    [loading]="loading"
    [paginatedData]="paginatedData"
    paginationLabel="Select page of claims"
  >
    <ng-container
      [ngTemplateOutlet]="TABLE_FILTERS"
      tableFilters
    ></ng-container>

    <ng-container
      matSort
      matSortActive="created_at"
      matSortDirection="asc"
      tableColumns
    >
      <ng-container matColumnDef="created_at">
        <th
          mat-header-cell
          *matHeaderCellDef
          [disabled]="loading"
          mat-sort-header
        > Sail </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="align-center"
        >
          <div class="mobile-table-row-info">
            <label tabindex="0">Sail:</label>
            <span>
              <a
                tabindex="0"
                [routerLink]="viewSailRoute(element.sail?.id)"
              >
                {{element.sail.entity_number}} {{element.sail.name}}
              </a>
            </span>
            <label tabindex="0">Member:</label>
            <span>
              <a
                tabindex="0"
                [routerLink]="viewProfileRoute(element.profile.id)"
                aria-label="This claim is assigned to"
                title="Click to go to their profile page"
              >
                <app-profile-bullet [profile]="element.profile"></app-profile-bullet>
              </a>
            </span>
            <label
              *ngIf="element.guest_name"
              tabindex="0"
            >Guest:</label>
            <span
              *ngIf="element.guest_name"
              tabindex="0"
            >{{element.guest_name}}</span>
            <label tabindex="0">Created at:</label>
            <span tabindex="0">{{element.created_at | humanDateWithTime:true}}</span>
          </div>
          <button
            [routerLink]="outstandingPurchasesRoute(element.profile.id)"
            mat-raised-button
            title="Click to view all outstanding fees for {{element.profile.name}}"
          >
            Details
          </button>
        </td>
      </ng-container>
    </ng-container>
  </app-material-table>
</ng-template>

<ng-template #TABLE_FILTERS></ng-template>
