table {
  width: 100%;
}

.table-filters {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  padding: 20px 20px 0 20px;
}

:host .table-row-controls {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 670px) {
  .table-filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 0 20px;
  }

}