<mat-card *ngIf="sailRequest">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>cloud_upload</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      tabindex="0"
      role="heading"
    >Sail request #{{sailRequest.entity_number}}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <ng-container [ngTemplateOutlet]="controls"></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <app-table>
      <tr
        tabindex="0"
        role="listitem"
        attr.aria-label="Request number {{sailRequest.entity_number}}"
      >
        <th
          aria-hidden="true"
          tabindex="-1"
        >Request #</th>
        <td
          tabindex="-1"
          aria-hidden="true"
        >{{sailRequest.entity_number}}</td>
      </tr>
      <tr
        tabindex="0"
        role="listitem"
        attr.aria-label="Request status {{sailRequest.status}}"
      >
        <th
          aria-hidden="true"
          tabindex="-1"
        >Request Status</th>
        <td
          tabindex="-1"
          aria-hidden="true"
        >{{sailRequest.status}}</td>
      </tr>
      <tr
        (click)="showProfileDialog(sailRequest.requested_by)"
        attr.aria-label="Requested by {{sailRequest.requested_by.name}}"
        class="clickable"
        role="listitem"
        tabindex="0"
      >
        <th
          aria-hidden="true"
          tabindex="-1"
        >Requested by</th>
        <td
          aria-hidden="true"
          tabindex="-1"
        >
          <app-profile-bullet [profile]="sailRequest.requested_by"></app-profile-bullet>
        </td>
      </tr>
      <tr
        *ngIf="sailRequest.sail_id"
        (click)="viewSail(sailRequest.sail_id)"
        attr.aria-label="Go to view sail {{sailRequest.sail.name}}"
        class="clickable"
        role="listitem"
        tabindex="0"
      >
        <th
          aria-hidden="true"
          tabindex="-1"
        >Scheduled sail</th>
        <td
          aria-hidden="true"
          tabindex="-1"
        >
          {{sailRequest.sail.name}}
        </td>
      </tr>
      <tr
        role="list"
        *ngIf="!!sailRequest.interest?.length"
      >
        <th
          [attr.rowspan]="sailRequest.interest.length + 1"
          aria-hidden="true"
          tabindex="-1"
        >Interested</th>
      </tr>
      <tr
        (click)="showProfileDialog(interested.profile)"
        (keyup.enter)="showProfileDialog(interested.profile)"
        *ngFor="let interested of sailRequest.interest; let i = index;"
        [title]="interested.profile.name"
        attr.aria-label="Interested sailor {{i + 1}} of {{sailRequest.interest.length}}"
        role="listitem"
        tabindex="0"
      >
        <td
          class="clickable"
          colspan="2"
          aria-hidden="true"
          tabindex="-1"
        >
          <app-profile-bullet [profile]="interested.profile"></app-profile-bullet>
        </td>
      </tr>
      <tr
        role="listitem"
        tabindex="0"
        attr.aria-label="Request description {{sailRequest.details}}"
      >
        <th
          aria-hidden="true"
          tabindex="-1"
          colspan="2"
        >Request description</th>
      </tr>
      <tr
        tabindex="-1"
        aria-hidden="true"
      >
        <td
          aria-label="Sail Request Description"
          colspan="2"
          title="Description: {{sailRequest.details}}"
          tabindex="0"
        >
          <pre>{{sailRequest.details}}</pre>
        </td>
      </tr>
    </app-table>
  </mat-card-content>
</mat-card>
<ng-template #controls>
  <a
    *ngIf="canEditRequest"
    [routerLink]="editSailRequestRoute"
    mat-raised-button
  >Edit</a>
  <button
    *ngIf="canCancelRequest"
    (click)="cancelRequest()"
    mat-raised-button
    title="Mark this request as cancelled"
  >Cancel</button>
</ng-template>
