<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>sailing</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      tabindex="0"
    >Sails</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <ng-container
      *ngIf="shouldShowControls"
      [ngTemplateOutlet]="controls"
    ></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <section>
      <mat-accordion>
        <mat-expansion-panel #filterAccordion>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon inline="true">search</mat-icon>
              Search
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngTemplateOutlet="sailFilter"></ng-container>
          <mat-action-row>
            <button
              (click)="resetFilter()"
              mat-raised-button
              title="Reset sail filter"
              type="reset"
            >Reset</button>
            <button
              (click)="applyFilter(); filterAccordion.close();"
              mat-raised-button
              matTooltip="Apply sail filter"
            >Apply</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
    <section>
      <ng-container
        [ngTemplateOutlet]="SAIL_TABLE"
        *ngIf="!windowService.isSmallWidth"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="SAIL_TABLE_MOBILE"
        *ngIf="windowService.isSmallWidth"
      ></ng-container>
    </section>
  </mat-card-content>
</mat-card>

<ng-template #sailFilter>
  <div class="sail-filter-container">
    <div>
      <mat-form-field>
        <mat-label
          aria-hidden="true"
          id="filterLabelName"
          tabindex="-1"
        >Sail name</mat-label>
        <input
          [(ngModel)]="sailName"
          [ngModelOptions]="{standalone: true}"
          aria-labelledby="filterLabelName"
          matInput
          type="text"
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label
          aria-hidden="true"
          id="filterLabelStatus"
          tabindex="-1"
        >Sail status</mat-label>
        <select
          [(ngModel)]="sailStatus"
          [ngModelOptions]="{standalone: true}"
          aria-labelledby="filterLabelStatus"
          matNativeControl
          name="sailStatus"
        >
          <option
            *ngFor="let status of sailStatusValues | keyvalue"
            [value]="status.value"
          >{{status.key}}</option>
        </select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label
          aria-hidden="true"
          id="filterLabelStartDate"
          tabindex="-1"
        >Sail start date</mat-label>
        <input
          [(ngModel)]="sailStart"
          [ngModelOptions]="{standalone: true}"
          aria-labelledby="filterLabelStartDate"
          matInput
          type="date"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label
          aria-hidden="true"
          id="filterLabelEndDate"
          tabindex="-1"
        >Sail end date</mat-label>
        <input
          [(ngModel)]="sailEnd"
          [ngModelOptions]="{standalone: true}"
          aria-labelledby="filterLabelEndDate"
          matInput
          type="date"
        >
      </mat-form-field>
    </div>
    <div>
      <form>
        <mat-form-field>
          <mat-label
            aria-hidden="true"
            id="filterLabelBoat"
            tabindex="-1"
          >Boat name</mat-label>
          <input
            [(ngModel)]="boatName"
            [ngModelOptions]="{standalone: true}"
            aria-labelledby="filterLabelBoat"
            matInput
            type="text"
          >
        </mat-form-field>
      </form>
    </div>
    <div>
      <form>
        <mat-form-field>
          <mat-label
            aria-hidden="true"
            id="filterLabelSailor"
            tabindex="-1"
          >Sailor names (comma separated for multiple sailors on same sail)</mat-label>
          <input
            [(ngModel)]="sailorName"
            [ngModelOptions]="{standalone: true}"
            aria-labelledby="filterLabelSailor"
            title="Sailor names (comma separated for multiple sailors on same sail)"
            matInput
            type="text"
          >
        </mat-form-field>
      </form>
    </div>
  </div>
</ng-template>
<ng-template #controls>
  <a
    [routerLink]="CREATE_SAIL_ROUTE"
    mat-raised-button
    title="Click to create a new sail."
  >New</a>
  <a
    [routerLink]="VIEW_SAIL_REQUESTS_ROUTE"
    mat-raised-button
    title="Click to sail requests page."
  >Requests</a>
  <a
    [routerLink]="VIEW_SAIL_CHECKLISTS_ROUTE"
    mat-raised-button
    title="Click to view all sail checklists."
  >Checklists</a>
  <button
    (click)="download()"
    *ngIf="canDownload"
    mat-raised-button
    title="Click to download sails as csv file."
  >.CSV</button>
</ng-template>

<ng-template #SAIL_TABLE>
  <app-material-table
    (filterHandler)="filterHandler($event)"
    [dataSource]="dataSource"
    [defaultFilterInfo]="filterInfo"
    [displayedColumns]="displayedColumns"
    [loading]="loading"
    [paginatedData]="paginatedData"
    [showSearchInput]="false"
    paginationLabel="Select page of sails"
  >

    <ng-container
      [ngTemplateOutlet]="TABLE_FILTERS"
      tableFilters
    ></ng-container>

    <ng-container
      matSort
      matSortActive="start_at"
      matSortDirection="desc"
      tableColumns
    >

      <ng-container matColumnDef="entity_number">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > No. </th>
        <td
          mat-cell
          *matCellDef="let element"
        >{{element.entity_number}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Name </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          {{element.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="start_at">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > When </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.start_at | humanDateWithTime }} </td>
      </ng-container>

      <ng-container matColumnDef="boat.name">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Boat </th>
        <td
          mat-cell
          *matCellDef="let element"
        > <button
            mat-button
            style="margin: 10px;"
            (click)="showBoatDialog(element.boat)"
            title="click to view boat info"
          >{{element.boat?.name}}</button></td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Status </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <button
            mat-button
            style="margin: 10px;"
            (click)="goToEntity('SailEntity', element.id)"
            title="Click to go to sail page for {{element.name}}"
          >View</button>
        </td>
      </ng-container>

    </ng-container>

  </app-material-table>

</ng-template>

<ng-template #SAIL_TABLE_MOBILE>
  <app-material-table
    (filterHandler)="filterHandler($event)"
    [dataSource]="dataSource"
    [defaultFilterInfo]="filterInfo"
    [displayedColumns]="displayedColumnsMobile"
    [loading]="loading"
    [paginatedData]="paginatedData"
    [showSearchInput]="false"
    paginationLabel="Select page of sails"
  >

    <ng-container
      [ngTemplateOutlet]="TABLE_FILTERS"
      tableFilters
    ></ng-container>

    <ng-container
      matSort
      matSortActive="start_at"
      matSortDirection="desc"
      tableColumns
    >

      <ng-container matColumnDef="entity_number">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Sail </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <div class="row-mobile">
            <div class="row-mobile-picture">
              <img
                [src]="boatThumbnail(element.boat)"
                title="{{element.boat?.name}}. click to view boat info."
                (click)="showBoatDialog(element.boat)"
                class="clickable"
              >
            </div>
            <div class="row-mobile-info">
              <div><label>No.: </label><span>{{element.entity_number}}</span></div>
              <div><label>Name: </label><span>{{element.name}}</span></div>
              <div><label>Start: </label><span>{{element.start_at | humanDateWithTime}}</span></div>
              <div><label>Boat: </label><span>{{element.boat?.name}}</span></div>
            </div>
          </div>
          <div class="row-mobile-controls"><a
              mat-button
              style="margin: 10px;"
              (click)="goToEntity('SailEntity', element.id)"
              title="Click to go to sail page for {{element.name}}"
            >View</a></div>
        </td>
      </ng-container>

    </ng-container>

  </app-material-table>

</ng-template>

<ng-template #TABLE_FILTERS>
</ng-template>
