.example-spacer {
  flex: 1 1 auto;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-controls button {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
