.example-spacer {
  flex: 1 1 auto;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-controls button {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 670px) {
  mat-toolbar {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .header-controls {
    width: 100%;
  }
}