<form [formGroup]="selectItemFormGroup">
  <mat-form-field>
    <mat-label
      aria-hidden="true"
      tabindex="-1"
      id="key_{{index}}"
    >Property key</mat-label>
    <input
      [attr.aria-required]="isRequired('key')"
      [required]="isRequired('key')"
      attr.labelledby="key_{{index}}"
      formControlName="key"
      matInput
      type="text"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label
      aria-hidden="true"
      id="label_{{index}}"
      tabindex="-1"
    >Property label</mat-label>
    <input
      [attr.aria-required]="isRequired('label')"
      [required]="isRequired('label')"
      attr.labelledby="label_{{index}}"
      formControlName="label"
      matInput
      type="text"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label
      aria-hidden="true"
      id="options_{{index}}"
      tabindex="-1"
    >Options (comma separated)</mat-label>
    <input
      [attr.aria-required]="isRequired('options')"
      [required]="isRequired('options')"
      attr.labelledby="options_{{index}}"
      formControlName="options"
      matInput
      type="text"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label
      aria-hidden="true"
      id="defaultValue_{{index}}"
      tabindex="-1"
    >Default value</mat-label>
    <input
      attr.aria-label="Property default value"
      attr.labelledby="defaultValue_{{index}}"
      formControlName="defaultValue"
      matInput
      type="text"
    >
  </mat-form-field>
</form>
