<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>assignment</mat-icon>
    </div>
    <mat-card-title
      aria-level="1"
      id="pageTitle"
      role="heading"
      tabindex="0"
    >{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button
      (click)="goToBoatInstructions()"
      *ngIf="shouldEnableEditButton"
      mat-raised-button
      title="Click to edit boat's instructions"
    >Edit</button>
    <button
      (click)="toggleRearrange()"
      *ngIf="shouldEnableEditButton"
      mat-raised-button
      title="Click to rearrange boat's instructions"
    >Rearrange</button>
    <button
      (click)="save()"
      *ngIf="rearrange && shouldEnableEditButton"
      mat-raised-button
      title="Click to save boat's instructions"
    >Save</button>
  </mat-card-actions>
  <mat-card-content>
    <app-instructions-list
      title="Departure Instructions"
      [instructions]="departureInstructions"
      [canReorder]="rearrange"
      (rearrange)="departureReordered()"
    ></app-instructions-list>
    <app-instructions-list
      title="Arrival Instructions"
      [instructions]="arrivalInstructions"
      (rearrange)="arrivalReordered()"
      [canReorder]="rearrange"
    ></app-instructions-list>
  </mat-card-content>
</mat-card>
