<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>lock</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      tabindex="0"
      role="heading"
    >Reset password</mat-card-title>
    <mat-card-subtitle tabindex="0"> Enter email address used by your account. </mat-card-subtitle>
    <mat-card-subtitle tabindex="0"> Follow instructions in the email to reset your password. </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label
          tabindex="-1"
          aria-hidden="true"
          id="formLabelEmail"
        >Enter your email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          aria-labelledby="formLabelEmail"
        >
        <mat-error
          *ngIf="email.errors?.required"
          aria-live="polite"
          tabindex="0"
        > Email is required. </mat-error>
        <mat-error
          *ngIf="email.errors?.email"
          aria-live="polite"
          tabindex="0"
        > Email value is invalid. </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button
        (click)="resetPassword()"
        *ngIf="form.valid && form.dirty"
        mat-raised-button
      >Reset password</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
