<form [formGroup]="form">
  <ng-container formGroupName="checklist">
    <ng-container *ngFor="let item of boatChecklist?.items">
      <ng-container [ngSwitch]="item.type">
        <app-form-text-input
          *ngSwitchCase="BoatChecklistItemType.Input"
          [ariaLabel]="item.label"
          [controlName]="item.key"
          [form]="checklistForm"
          [label]="item.label"
        ></app-form-text-input>
        <app-form-select-input
          *ngSwitchCase="BoatChecklistItemType.Select"
          [ariaLabel]="item.label"
          [controlName]="item.key"
          [form]="checklistForm"
          [label]="item.label"
          [options]="options[item.key]"
        ></app-form-select-input>
      </ng-container>
    </ng-container>
  </ng-container>

  <mat-form-field>
    <mat-label
      tabindex="-1"
      aria-hidden="true"
      id="formLabelComments{{when}}"
    >Comments</mat-label>
    <textarea
      attr.aria-labelledby="formLabelComments{{when}}"
      formControlName="comments"
      matInput
    ></textarea>
  </mat-form-field>

  <mat-checkbox formControlName="signed_by_skipper">Signed by skipper</mat-checkbox>
  <mat-checkbox formControlName="signed_by_crew">Signed by crew</mat-checkbox>

</form>
