<div [formGroup]="form">
  <app-table>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Presence</th>
    </tr>
    <tr
      [formArrayName]="manifestFormControlName"
      *ngFor="let item of manifestControls; let i = index;"
    >
      <ng-container [formGroupName]="i">
        <td *ngIf="!item.value.profile">
          <div class="name-cell">
            {{item.value.person_name}}
          </div>
        </td>
        <td
          class="clickable"
          (click)="showProfileDialog(item.value.profile)"
          *ngIf="item.value.profile"
        >{{item.value.person_name}}</td>
        <td>
          {{item.value.sailor_role}}
          <span *ngIf="item.value.sailor_role === SAILOR_ROLE.Guest">
            <mat-label>of</mat-label>
            {{item.value.guest_of_name}}
          </span>
        </td>
        <td>
          <mat-slide-toggle
            formControlName="attended"
            title="Toggle to 'Yes' if the sailor is present on the sail. Current value {{item.value.attended ? 'present': 'not present'}}."
          >
            Yes
          </mat-slide-toggle>
        </td>
      </ng-container>

    </tr>
  </app-table>
</div>
