.profile-row-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.profile-row-mobile .profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-list-item {
  margin: 0;
}

.mat-list-item:nth-child(even) {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.mat-list-item:last-child {
  border-bottom: 1px solid black;
}

.profile-photo {
  border-radius: 50%;
  object-fit: cover;
}

.row-mobile {
  display: grid;
  gap: 10px;
  grid-template-areas: "pic info"
                        "controls controls";
}

.row-mobile-picture {
  grid-area: pic;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-mobile-picture img {
  width: 50px;
  height: 50px;
}

.row-mobile-info {
  grid-area: info;
  word-break: break-all;
}

.row-mobile-controls {
  grid-area: controls;
  display: flex;
  justify-content: center;
}