<mat-card *ngIf="user">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>group_add</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      role="header"
      tabindex="0"
    >Admin Dashboard</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <ng-container [ngTemplateOutlet]="controls"></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <section>
      <app-profile-list
        [profiles]="pendingApproval"
        (refreshAction)="fetchPendingProfiles(true)"
        (profileClick)="editProfilePrivileges($event)"
        title="Profiles awaiting review"
        emptyMessage="There are no profiles awaiting review."
      ></app-profile-list>
    </section>
    <section role="search">
      <h3>Total users in the system: {{totalProfileCount}}</h3>
      <ng-container
        [ngTemplateOutlet]="PROFILE_TABLE"
        *ngIf="!windowService.isSmallWidth"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="PROFILE_TABLE_MOBILE"
        *ngIf="windowService.isSmallWidth"
      ></ng-container>
    </section>
  </mat-card-content>
</mat-card>

<ng-template #controls>
  <button
    mat-raised-button
    (click)="openCreateUserDialog()"
  >Create User</button>
  <button
    mat-raised-button
    (click)="goToSailCategories()"
  >Sail Categories</button>
</ng-template>

<ng-template #PROFILE_TABLE>
  <app-material-table
    (filterHandler)="filterHandler($event)"
    [dataSource]="dataSource"
    [defaultFilterInfo]="filterInfo"
    [displayedColumns]="displayedColumns"
    [loading]="loading"
    [paginatedData]="paginatedData"
    paginationLabel="Select page of profiles"
  >

    <ng-container
      [ngTemplateOutlet]="TABLE_FILTERS"
      tableFilters
    ></ng-container>

    <ng-container
      matSort
      matSortActive="name"
      matSortDirection="asc"
      tableColumns
    >

      <ng-container matColumnDef="photo">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Photo </th>
        <td
          mat-cell
          *matCellDef="let element"
        > <img
            (click)="showProfileDialog(element)"
            class="clickable"
            height="50px"
            src="{{element.photo || 'assets/icons/icon-person.png'}}?width=100&height=100"
            style="margin: 10px;"
            title="click to show profile dialog for {{element.name}}"
            width="50px"
          > </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Name </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <p>{{element.name}}</p>
          <p><i>{{element.email}}</i></p>
        </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Roles </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.roles.join(', ')}} </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Created at </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.created_at | ddmmyyyy}} </td>
      </ng-container>

      <ng-container matColumnDef="last_login">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Last login </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.last_login | humanDateWithTime: true}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Status </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > </th>
        <td
          mat-cell
          *matCellDef="let element"
        > <a
            mat-button
            (click)="editProfilePrivileges(element)"
            title="Edit profile of {{element.name}} {{element.email}}"
          >Edit</a> </td>
      </ng-container>

    </ng-container>

  </app-material-table>

</ng-template>

<ng-template #PROFILE_TABLE_MOBILE>
  <app-material-table
    (filterHandler)="filterHandler($event)"
    [dataSource]="dataSource"
    [defaultFilterInfo]="filterInfo"
    [displayedColumns]="displayedColumnsMobile"
    [loading]="loading"
    [paginatedData]="paginatedData"
    paginationLabel="Select page of profiles"
  >

    <ng-container
      [ngTemplateOutlet]="TABLE_FILTERS"
      tableFilters
    ></ng-container>

    <ng-container
      matSort
      matSortActive="name"
      matSortDirection="asc"
      tableColumns
    >

      <ng-container matColumnDef="name">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Name </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <div class="profile-row-mobile">
            <div class="profile-picture"><img
                (click)="showProfileDialog(element)"
                class="clickable"
                height="100px"
                src="{{element.photo || 'assets/icons/icon-person.png'}}?width=100&height=100"
                title="click to show profile dialog for {{element.name}}"
                width="100px"
              ></div>
            <div>
              <p><label>Name: </label><span>{{element.name}}</span></p>
              <p><label>Email: </label><span>{{element.email}}</span></p>
              <p><label>Created: </label><span>{{element.created_at | humanDateWithTime:true}}</span></p>
              <p><label>Last login: </label><span>{{element.last_login | humanDateWithTime:true}}</span></p>
              <p><label>Status: </label><span>{{element.status}}</span></p>
              <p><label>Roles: </label><span>{{element.roles.join(', ')}}</span></p>
            </div>
          </div>
          <div class="table-row-controls">
            <a
              mat-raised-button
              (click)="editProfilePrivileges(element)"
              title="Edit profile of {{element.name}} {{element.email}}"
            >Edit</a>
          </div>
        </td>
      </ng-container>

    </ng-container>

  </app-material-table>

</ng-template>

<ng-template #TABLE_FILTERS>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <select
      [(ngModel)]="profileStatus"
      [ngModelOptions]="{standalone: true}"
      matNativeControl
      (ngModelChange)="filterProfiles()"
    >
      <option
        *ngFor="let status of profileStatusValues | keyvalue"
        [value]="status.value"
      >{{status.value}}</option>
    </select>
  </mat-form-field>
</ng-template>
