.profile-row-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.profile-row-mobile .profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-list-item:nth-child(even) {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.mat-list-item:last-child {
  border-bottom: 1px solid black;
}