<mat-card *ngIf="sail && user">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>playlist_add_check</mat-icon>
    </div>
    <mat-card-title
      aria-level="1"
      id="pageTitle"
      role="heading"
      tabindex="0"
    >Edit Sail Checklist Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container [ngTemplateOutlet]="checklistFormContent"></ng-container>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button
        *ngIf="shouldShowSaveButton"
        mat-raised-button
        [disabled]="loading"
        (click)="save(true, false)"
      >Update</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
<ng-template #checklistFormContent>
  <form [formGroup]="checklistForm">
    <ng-container>
      <ng-container *ngTemplateOutlet="sail_destination"></ng-container>
    </ng-container>
    <ng-container>
      <ng-container *ngTemplateOutlet="weather"></ng-container>
    </ng-container>
    <ng-container>
      <ng-container *ngTemplateOutlet="before"></ng-container>
    </ng-container>
    <ng-container>
      <ng-container *ngTemplateOutlet="after"></ng-container>
    </ng-container>
  </form>
</ng-template>

<ng-template #sail_destination>
  <h4
    aria-hidden="true"
    aria-level="3"
    id="stepLabelDestination"
    role="heading"
    tabindex="-1"
  >Step 1 of 4: Sail Destination</h4>
  <mat-form-field [formGroup]="beforeFormControls">
    <mat-label
      tabindex="-1"
      aria-hidden="true"
    >Sail Destination</mat-label>
    <textarea
      aria-labelledby="stepLabelDestination"
      formControlName="sail_destination"
      matInput
    ></textarea>
  </mat-form-field>
  <mat-error
    tabindex="0"
    *ngFor="let error of (beforeFormControls.pristine ? []: beforeFormErrors('sail_destination'))"
  >{{error}}</mat-error>
</ng-template>

<ng-template #weather>
  <h4
    aria-hidden="true"
    aria-level="3"
    id="stepLabelWeather"
    role="heading"
    tabindex="-1"
  >Step 2 of 4: Weather (Forecasted and Observed)</h4>
  <mat-form-field [formGroup]="beforeFormControls">
    <mat-label
      tabindex="-1"
      aria-hidden="true"
    >Weather</mat-label>
    <textarea
      aria-labelledby="stepLabelWeather"
      formControlName="weather"
      matInput
    ></textarea>
  </mat-form-field>
  <mat-error
    tabindex="0"
    *ngFor="let error of (beforeFormControls.pristine ? []: beforeFormErrors('weather'))"
  >{{error}}</mat-error>
</ng-template>

<ng-template #before>
  <h4
    role="heading"
    aria-level="3"
  >Step 3 of 4: Before Departure</h4>
  <app-checklist-form
    [boatChecklist]="sail.boat.checklist"
    [form]="beforeFormControls"
    when="Before"
  ></app-checklist-form>
</ng-template>

<ng-template #after>
  <h4
    role="heading"
    aria-level="3"
  >Step 4 of 4: After Arrival</h4>
  <app-checklist-form
    [boatChecklist]="sail.boat.checklist"
    [form]="afterFormControls"
    when="After"
  ></app-checklist-form>
</ng-template>
