<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>category</mat-icon>
    </div>
    <mat-card-title
      role="heading"
      tabindex="0"
      id="pageTitle"
    >Sail Categories</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Category</mat-label>
        <input
          type="text"
          formControlName="category"
          matInput
        >
      </mat-form-field>
      <button
        (click)="saveSailCategory()"
        mat-raised-button
        [disabled]="!form.valid || !form.dirty || loading"
      >Create</button>
    </form>
    <mat-list>
      <h3 mat-header>Existing sail categories</h3>
      <mat-list-item *ngFor="let category of sailCategories;">
        <div class="sail-category-list-item">
          <span>{{category.category}}</span>
          <button
            (click)="removeSailCategory(category)"
            color="warn"
            mat-icon-button
            title='delete "{{category.category}}" category'
            [disabled]="loading"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
