mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

mat-list-option {
  height: 2rem !important;
}

.sail-category-list-item {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 100%;
}