<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>error</mat-icon>
    </div>
    <mat-card-title
      aria-level="1"
      id="pageTitle"
      role="heading"
      tabindex="0"
    >Error</mat-card-title>
    <mat-card-subtitle> There was a problem with your request </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><b>Reason:</b> {{errorMessage}}</p>
    <p>Contact us <a href="mailto:CONTACT_US_EMAIL">CONTACT_US_EMAIL</a> if you experience this problem again.</p>
  </mat-card-content>
</mat-card>
