<fieldset class="app-file-select">
  <legend>{{title}}</legend>
  <p>Max file size allowed: {{maxFileSizeBytes | filesize}}</p>
  <div *ngFor="let file of selectedFiles">
    <p>File size: {{file.size | filesize}}.</p>
    <p>File name: {{file.name}}</p>
  </div>
  <mat-error *ngIf="selectedFileErrorMessage">{{selectedFileErrorMessage}}</mat-error>
  <mat-progress-bar
    *ngIf="progress > 0"
    [value]="progress"
    aria-live="polite"
    attr.aria-label="{{actionName}}ed {{progress}}%"
    mode="determinate"
  >
  </mat-progress-bar>
  <input
    #original_file_input
    class="hidden"
    (change)="handleFileInput($event)"
    [accept]="fileFilter"
    [id]="id"
    [multiple]="multiple"
    type="file"
  >
  <div class="file-select-controls">
    <button
      mat-raised-button
      (click)="original_file_input.click()"
      title="Click to select a new {{fileTypeLabel}}"
    >
      <app-icon-text
        icon="{{icon}}"
        text="Add new {{fileTypeLabel}}"
      ></app-icon-text>
    </button>
    <button
      *ngIf="shouldEnableActionButton"
      mat-raised-button
      (click)="performAction()"
    >{{actionName}}</button>
  </div>
</fieldset>
