<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>local_bar</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      tabindex="0"
    >Socials</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <ng-container [ngTemplateOutlet]="controls"></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <ng-container [ngTemplateOutlet]="socialTable"></ng-container>
  </mat-card-content>
</mat-card>
<ng-template #controls>
  <a
    *ngIf="allowCreation"
    [routerLink]="CREATE_SOCIAL_ROUTE"
    mat-raised-button
    title="Click to create a new social."
  >New</a>
  <a
    (click)="goToSocialPictures()"
    mat-raised-button
    title="Click to view social pictures."
  >Pictures</a>
</ng-template>
<ng-template #socialTable>
  <div class="mat-elevation-z2">
    <div class="social-table-filters">
      <mat-form-field>
        <mat-label>Social name</mat-label>
        <input
          matInput
          #filterInput
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <select
          [(ngModel)]="socialStatus"
          [ngModelOptions]="{standalone: true}"
          matNativeControl
          (ngModelChange)="filterSocials()"
        >
          <option
            *ngFor="let status of socialStatusValues | keyvalue"
            [value]="status.value"
          >{{status.key}}</option>
        </select>
      </mat-form-field>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="sortHandler($event)"
      matSortActive="entity_number"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="entity_number">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > No. </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.entity_number}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Name </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="start_at">
        <th
          mat-header-cell
          *matHeaderCellDef
          [disabled]="loading"
          mat-sort-header
        > Start </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.start_at | humanDateWithTime}} </td>
      </ng-container>

      <ng-container matColumnDef="end_at">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > End </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.end_at | humanDateWithTime}} </td>
      </ng-container>

      <ng-container matColumnDef="manifest">
        <th
          mat-header-cell
          *matHeaderCellDef
        > Attending </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.manifest?.length || 0}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th
          *matHeaderCellDef
          [disabled]="loading"
          mat-header-cell
          mat-sort-header
        > Status </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.status}} </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        (click)="goToViewSocial(row.id)"
        *matRowDef="let row; columns: displayedColumns;"
        class="clickable"
        mat-row
        aria-details="Click to go to social details page."
      ></tr>
    </table>

    <mat-paginator
      (page)="paginationHandler($event)"
      [disabled]="loading"
      [length]="paginatedData?.total || 0"
      [pageSizeOptions]="[1, 10, 20, 50]"
      [pageSize]="20"
      [showFirstLastButtons]="paginatedData?.total > paginatedData?.count"
      aria-label="Select page of socials"
    >
    </mat-paginator>
  </div>
</ng-template>
