<h4 *ngIf="!creatingNewSail && sails[sail_id] === null">Looks like this sail is missing.</h4>
<mat-card *ngIf="creatingNewSail || sails[sail_id]">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>sailing</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      role="heading"
      tabindex="0"
    >{{title}}</mat-card-title>
    <mat-card-subtitle
      *ngIf="sail_request_id"
      tabindex="0"
    >
      You are creating a sail from a sail request. Description and sailors from the sail request will be copied over
      when saved.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngTemplateOutlet="sailName"></ng-container>
    <ng-container *ngTemplateOutlet="sailCategory"></ng-container>
    <ng-container *ngTemplateOutlet="sailDescription"></ng-container>
    <ng-container *ngTemplateOutlet="sailStart"></ng-container>
    <ng-container *ngTemplateOutlet="sailEnd"></ng-container>
    <ng-container *ngTemplateOutlet="sailBoat"></ng-container>
    <ng-container *ngTemplateOutlet="sailMaxOccupancy"></ng-container>
    <ng-container *ngTemplateOutlet="sailSkipper"></ng-container>
    <ng-container *ngTemplateOutlet="sailCrew"></ng-container>
    <ng-container *ngTemplateOutlet="sailSailors"></ng-container>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button
        (click)="updateSail()"
        *ngIf="shouldEnableUpdateButton"
        id="updateButton"
        mat-raised-button
        mtTooltip="Save sail changes"
      >Update</button>
      <button
        (click)="createSail()"
        *ngIf="shouldEnableCreateButton"
        id="createButton"
        mat-raised-button
        mtTooltip="Save new sail"
      >Create</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
<ng-template #sailName>
  <h4
    aria-hidden="true"
    id="step1"
    tabindex="-1"
  >Step 1 of 10: Sail's Name{{sail_id ? ' (required)' : ' (leave blank for default name)'}}</h4>
  <form [formGroup]="sailForm">
    <mat-form-field>
      <input
        aria-labelledby="step1"
        formControlName="name"
        matInput
        title="Sail Name"
      >
    </mat-form-field>
    <mat-error
      tabindex="0"
      *ngFor="let error of (sailForm.pristine ? []: nameErrors)"
    >{{error}}</mat-error>
  </form>
</ng-template>
<ng-template #sailCategory>
  <h4
    aria-hidden="true"
    id="step2"
    tabindex="-1"
  >Step 2 of 10: Sail Category</h4>
  <form [formGroup]="sailForm">
    <mat-form-field
      appearance="fill"
      appearance="standard"
    >
      <mat-label
        id="stepLabelCategory"
        aria-hidden="true"
        tabindex="-1"
      >Sail category</mat-label>
      <select
        formControlName="category"
        aria-labelledby="step2"
        matNativeControl
        attr.aria-label="Selected category is {{sailForm.controls.category.value}}"
      >
        <option value=""></option>
        <option
          *ngFor="let category of sailCategories"
          [value]="category.category"
        >{{category.category}}</option>
      </select>
    </mat-form-field>
  </form>
</ng-template>
<ng-template #sailDescription>
  <h4
    aria-hidden="true"
    id="step3"
    tabindex="-1"
  >Step 3 of 10: Sail's Description</h4>
  <form [formGroup]="sailForm">
    <mat-form-field>
      <textarea
        aria-labelledby="step2"
        cdkAutosizeMaxRows="10"
        cdkAutosizeMinRows="1"
        cdkTextareaAutosize
        formControlName="description"
        matInput
        title="Sail Description"
      ></textarea>
    </mat-form-field>
  </form>
</ng-template>
<ng-template #sailStart>
  <h4 tabindex="0">Step 4 of 10: Sail's Start</h4>
  <app-date-time-form
    [form]="sailStartDateTimeForm"
    formType="Start"
    id="sail-start-date-time"
  ></app-date-time-form>
  <mat-error
    tabindex="0"
    *ngFor="let error of start_dateErrors"
  >{{error}}</mat-error>
  <p tabindex="0">Start date preview: {{getTime("start_at")}}</p>
</ng-template>
<ng-template #sailEnd>
  <h4 tabindex="0">Step 5 of 10: Sail's End</h4>
  <app-date-time-form
    [form]="sailEndDateTimeForm"
    formType="End"
    id="sail-end-date-time"
  ></app-date-time-form>
  <mat-error
    tabindex="0"
    *ngFor="let error of end_dateErrors"
  >{{error}}</mat-error>
  <p tabindex="0">End date preview: {{getTime("end_at")}}</p>
</ng-template>
<ng-template #sailBoat>
  <h4 tabindex="0">Step 6 of 10: Sail's Boat (required)</h4>
  <p
    aria-live="polite"
    tabindex="0"
  >Current boat: {{boatName || 'not assigned'}}</p>
  <p
    *ngIf="boatName && boatNotInServiceWarning()"
    aria-live="polite"
    tabindex="0"
  >Attention: this boat is not in service!</p>
  <button
    (click)="setSailBoat()"
    *ngIf="sailForm.controls['boat_id']?.value"
    mat-raised-button
    title="Unset sail's boat"
  >Unset</button>
  <mat-action-list role='list'>
    <h3
      mat-subheader
      tabindex="0"
    >List of Available Boats During This Time</h3>
    <mat-list-item
      (click)="setSailBoat(boat.id)"
      (keydown)="setSailBoatOnKey($event, boat.id)"
      *ngFor="let boat of availableBoats; let i = index"
      attr.aria-label="Boat {{i + 1}} of {{availableBoats.length}} {{boat.name}}{{boatNotInServiceWarning(boat.id)}}. Click to assign as sail's boat."
      role="listitem"
      tabindex="0"
    >{{i + 1 }}. {{boat.name}} {{boatNotInServiceWarning(boat.id)}}</mat-list-item>
    <mat-list-item *ngIf="!availableBoats || availableBoats.length === 0">No boats are available during this time.
    </mat-list-item>
  </mat-action-list>
  <mat-error
    tabindex="0"
    *ngFor="let error of boatErrors"
  >{{error}}</mat-error>
</ng-template>
<ng-template #sailMaxOccupancy>
  <h4
    aria-hidden="true"
    id="step6"
    tabindex="-1"
  >Step 7 of 10: Sail's Maximum Occupancy (required)</h4>
  <form [formGroup]="sailForm">
    <mat-form-field>
      <input
        [max]="max_occupancy"
        aria-labelledby="step6"
        formControlName="max_occupancy"
        matInput
        title="Sail's maximum number of people"
        min="2"
        required
        type="number"
      >
    </mat-form-field>
  </form>
  <mat-error
    tabindex="0"
    *ngFor="let error of max_occupancyErrors"
  >{{error}}</mat-error>
</ng-template>
<ng-template #sailSkipper>
  <h4>Step 8 of 10: Sail's Skipper</h4>
  <p
    tabindex="0"
    *ngIf="creatingNewSail"
  >Skipper can be assigned after sail creation.</p>
  <p
    tabindex="0"
    *ngIf="!creatingNewSail"
  >Current skipper: {{skipperName || 'not assigned'}}</p>
  <button
    (click)="editManifest()"
    *ngIf="!creatingNewSail && !sailForm.dirty"
    mat-raised-button
  >Edit Manifest</button>
</ng-template>
<ng-template #sailCrew>
  <h4>Step 9 of 10: Sail's Crew</h4>
  <p
    tabindex="0"
    *ngIf="creatingNewSail"
  >Crew can be assigned after sail creation.</p>
  <p
    tabindex="0"
    *ngIf="!creatingNewSail"
  >Current crew: {{crewName || 'not assigned'}}</p>
  <button
    (click)="editManifest()"
    *ngIf="!creatingNewSail && !sailForm.dirty"
    mat-raised-button
  >Edit Manifest</button>
</ng-template>
<ng-template #sailSailors>
  <h4>Step 10 of 10: Sail's Sailors</h4>
  <p
    tabindex="0"
    *ngIf="creatingNewSail"
  >Sailors can be assigned after sail creation.</p>
  <p
    tabindex="0"
    *ngIf="!creatingNewSail"
  >Current sailors: {{sailorNames || 'not assigned'}}</p>
  <button
    (click)="editManifest()"
    *ngIf="!creatingNewSail && !sailForm.dirty"
    mat-raised-button
  >Edit Manifest</button>
</ng-template>
