<div class="mat-elevation-z2">
  <div class="table-filters">
    <mat-form-field *ngIf="showSearchInput">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        #filterInput
        [value]="search"
        [title]="searchTitle"
        matInput
      >
    </mat-form-field>
    <ng-content select="[tableFilters]"></ng-content>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
  >
    <ng-content select="[tableColumns]"></ng-content>
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>

    <tr
      *matRowDef="let row; columns: displayedColumns;"
      mat-row
    ></tr>

  </table>

  <mat-paginator
    (page)="paginationHandler($event)"
    *ngIf="showPaginator"
    [disabled]="loading"
    [length]="paginatedData?.total || 0"
    [pageSizeOptions]="[1, 10, 20, 50]"
    [pageSize]="pagination.pageSize"
    [pageIndex]="pagination.pageIndex"
    [showFirstLastButtons]="paginatedData?.total > paginatedData?.count"
    attr.aria-label="{{paginationLabel}}"
  >
  </mat-paginator>
</div>
