<div class="mat-elevation-z2">
  <div class="table-filters">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        matInput
        [defaultValue]="search"
        #filterInput
        title="Search maintenance requests"
      >
    </mat-form-field>
    <ng-content select="[tableFilters]"></ng-content>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
  >
    <ng-content select="[tableColumns]"></ng-content>
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>

    <tr
      *matRowDef="let row; columns: displayedColumns;"
      mat-row
    ></tr>

  </table>

  <mat-paginator
    (page)="paginationHandler($event)"
    [disabled]="loading"
    [length]="paginatedData?.total || 0"
    [pageSizeOptions]="[1, 10, 20, 50]"
    [pageSize]="20"
    [showFirstLastButtons]="paginatedData?.total > paginatedData?.count"
    attr.aria-label="{{paginationLabel}}"
  >
  </mat-paginator>
</div>
