<div class="image-list">
  <div
    *ngFor="let picture of picturesArray; let i = index;"
    class="image-list-item"
  >
    <h5>{{picture.title}}</h5>
    <a
      *ngIf="picture.url"
      [href]="picture.url"
      [ngSwitch]="picture.media_type"
      target="_blank"
    >
      <img
        *ngSwitchCase="MediaTypes.Picture"
        [height]="height"
        [width]="width"
        async
        attr.aria-label="picture {{i+1}} of {{picturesArray.length}}. comment: {{picture.description || 'none'}}"
        src="{{picture.url}}?width={{width}}&height={{height}}"
      >
      <div
        *ngSwitchCase="MediaTypes.Video"
        class="video-container"
      >
        <mat-icon>play_circle</mat-icon>
        <video
          [height]="height"
          [width]="width"
          async
          attr.aria-label="video {{i+1}} of {{picturesArray.length}}. comment: {{picture.description || 'none'}}"
          src="{{picture.url}}"
        ></video>
      </div>

      <img
        *ngSwitchDefault
        [height]="height"
        [width]="width"
        async
        attr.aria-label="picture {{i+1}} of {{picturesArray.length}}. comment: {{picture.description || 'none'}}"
        src="{{picture.url}}?width={{width}}&height={{height}}"
      >
    </a>
    <div *ngIf="allowDelete && canDelete(picture)">
      <button
        (click)="deleteClick.emit(picture)"
        aria-label="Click to delete this picture"
        mat-raised-button
      >Delete</button>
    </div>
    <div
      (click)="goToProfile.emit(picture.posted_by)"
      *ngIf="showAuthor"
      class="clickable"
    >
      <label>by: </label> {{picture.posted_by.name}}
    </div>
    <pre
      *ngIf="picture.description"
      tabindex="0"
    >{{picture.description}}</pre>
  </div>
</div>
