mat-radio-group {
  display: flex;
  flex-direction: column;
}

mat-radio-button:first-child {
  margin-top: 10px;
}

mat-radio-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

:host ::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

mat-list-option {
  height: 2rem !important;
}