<form [formGroup]="form">
  <mat-form-field>
    <mat-label
      aria-hidden="true"
      tabindex="-1"
      id="new-comment-label"
    >Add New Comment</mat-label>
    <textarea
      aria-labeledby="new-comment-label"
      formControlName="comment"
      matInput
      title="New Comment"
    ></textarea>
  </mat-form-field>
  <div class="form-controls">
    <button
      mat-raised-button
      *ngIf="shouldEnableCommentButton"
      (click)="addNewComment()"
    >post</button>
  </div>
</form>