<mat-card *ngIf="profile">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>settings</mat-icon>
    </div>
    <mat-card-title
      role="heading"
      tabindex="0"
      id="pageTitle"
    >User Settings</mat-card-title>
    <mat-card-subtitle
      role="heading"
      aria-level="3"
      tabindex="0"
    >{{profile.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <h3>Notification Subscriptions</h3>
        </mat-expansion-panel-header>
        <form [formGroup]="form">
          <h3 tabindex="0">Future Sails Notifications</h3>
          <mat-radio-group formControlName="futureSails">
            <mat-radio-button
              value="unsubscribed"
              aria-label="Unsubscribe from future sails notifications"
            ><span tabindex="-1">Unsubscribe</span></mat-radio-button>
            <mat-radio-button
              value="every_day"
              aria-label="Receive an email notification every day"
            ><span tabindex="-1">Every day</span></mat-radio-button>
            <mat-radio-button
              value="every_other_day"
              aria-label="Receive an email notification every other day"
            ><span tabindex="-1">Every other day</span></mat-radio-button>
            <mat-radio-button
              value="every_week"
              aria-label="Receive an email notification once a week"
            ><span tabindex="-1">Once a week</span></mat-radio-button>
          </mat-radio-group>
          <h3 tabindex="0">Future Socials Notifications</h3>
          <mat-radio-group formControlName="futureSocials">
            <mat-radio-button
              value="unsubscribed"
              aria-label="Unsubscribe from future socials notifications"
            ><span tabindex="-1">Unsubscribe</span></mat-radio-button>
            <mat-radio-button
              value="every_day"
              aria-label="Receive an email notification every day"
            ><span tabindex="-1">Every day</span></mat-radio-button>
            <mat-radio-button
              value="every_other_day"
              aria-label="Receive an email notification every other day"
            ><span tabindex="-1">Every other day</span></mat-radio-button>
            <mat-radio-button
              value="every_week"
              aria-label="Receive an email notification once a week"
            ><span tabindex="-1">Once a week</span></mat-radio-button>
          </mat-radio-group>
        </form>
        <mat-action-row>
          <button
            class="mat-raised-button"
            (click)="saveSettings()"
          >Save subscriptions</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
