<mat-card *ngIf="profile">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>settings</mat-icon>
    </div>
    <mat-card-title
      aria-level="1"
      id="pageTitle"
      role="heading"
      tabindex="0"
    >User Settings</mat-card-title>
    <mat-card-subtitle
      aria-level="2"
      role="heading"
      tabindex="0"
    >{{profile.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <h3>Theme</h3>
        </mat-expansion-panel-header>
        <form>
          <mat-radio-group
            [(ngModel)]="theme"
            [ngModelOptions]="{standalone: true}"
            matNativeControl
            (ngModelChange)="themeHandler($event)"
          >
            <mat-radio-button
              value="light"
              aria-label="Light theme"
            ><span tabindex="-1">Light</span></mat-radio-button>
            <mat-radio-button
              value="dark"
              aria-label="Dark theme"
            ><span tabindex="-1">Dark</span></mat-radio-button>
          </mat-radio-group>
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <h3>Notification Subscriptions</h3>
        </mat-expansion-panel-header>
        <form [formGroup]="form">
          <h3 tabindex="0">Future Sails Notifications</h3>
          <mat-radio-group formControlName="futureSails">
            <mat-radio-button
              value="unsubscribed"
              aria-label="Unsubscribe from future sails notifications"
            ><span tabindex="-1">Unsubscribe</span></mat-radio-button>
            <mat-radio-button
              value="every_day"
              aria-label="Receive an email notification every day"
            ><span tabindex="-1">Every day</span></mat-radio-button>
            <mat-radio-button
              value="every_other_day"
              aria-label="Receive an email notification every other day"
            ><span tabindex="-1">Every other day</span></mat-radio-button>
            <mat-radio-button
              value="every_week"
              aria-label="Receive an email notification once a week"
            ><span tabindex="-1">Once a week</span></mat-radio-button>
          </mat-radio-group>
          <h3 tabindex="0">Future Socials Notifications</h3>
          <mat-radio-group formControlName="futureSocials">
            <mat-radio-button
              value="unsubscribed"
              aria-label="Unsubscribe from future socials notifications"
            ><span tabindex="-1">Unsubscribe</span></mat-radio-button>
            <mat-radio-button
              value="every_day"
              aria-label="Receive an email notification every day"
            ><span tabindex="-1">Every day</span></mat-radio-button>
            <mat-radio-button
              value="every_other_day"
              aria-label="Receive an email notification every other day"
            ><span tabindex="-1">Every other day</span></mat-radio-button>
            <mat-radio-button
              value="every_week"
              aria-label="Receive an email notification once a week"
            ><span tabindex="-1">Once a week</span></mat-radio-button>
          </mat-radio-group>
          <h3 tabindex="0">Rate Your Sail Notifications</h3>
          <mat-radio-group formControlName="rateSailRequest">
            <mat-radio-button
              value="unsubscribed"
              aria-label="Unsubscribe from 'Rate your sail' notifications"
            ><span tabindex="-1">Unsubscribe</span></mat-radio-button>
            <mat-radio-button
              value="subscribed"
              aria-label="Receive notifications to rate your sail"
            ><span tabindex="-1">Subscribe</span></mat-radio-button>
          </mat-radio-group>
        </form>
        <mat-action-row>
          <button
            class="mat-raised-button"
            (click)="saveSettings()"
          >Save subscriptions</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
