<form [formGroup]="formGroup">
  <div [formArrayName]="controlArrayName">
    <div
      *ngFor="let imageControl of controlsArray; let i = index;"
      [formGroupName]="i"
      class="image-form"
    >
      <div class="image-form-image">
        <img
          *ngIf="imageControl.value.url && imageControl.value.media_type === MediaTypes.Picture"
          alt="Image {{i+1}} of {{controlsArray.length}}"
          async
          src="{{imageControl.value.url}}?width=100"
        >
        <video
          *ngIf="imageControl.value.url && imageControl.value.media_type === MediaTypes.Video"
          controls="true"
          height="100px"
          src="{{imageControl.value.url}}"
          width="100px"
        ></video>
      </div>
      <div class="image-form-inputs">
        <mat-form-field>
          <mat-label
            aria-hidden="true"
            tabindex="-1"
          >URL</mat-label>
          <input
            attr.aria-label="Url for {{imageControl.value.media_type}} {{i+1}} of {{controlsArray.length}}"
            formControlName="url"
            matInput
            type="text"
          >
        </mat-form-field>
        <mat-form-field *ngIf="allowTitle">
          <mat-label
            aria-hidden="true"
            tabindex="-1"
          >Title</mat-label>
          <textarea
            attr.aria-label="Title for {{imageControl.value.media_type}} {{i+1}} of {{controlsArray.length}}"
            cdkAutosizeMaxRows="10"
            cdkAutosizeMinRows="1"
            cdkTextareaAutosize
            formControlName="title"
            matInput
            type="text"
          ></textarea>
        </mat-form-field>
        <mat-form-field *ngIf="allowDescription">
          <mat-label
            aria-hidden="true"
            tabindex="-1"
          >Description</mat-label>
          <textarea
            attr.aria-label="Description for {{imageControl.value.media_type}} {{i+1}} of {{controlsArray.length}}"
            cdkAutosizeMaxRows="10"
            cdkAutosizeMinRows="1"
            cdkTextareaAutosize
            formControlName="description"
            matInput
            type="text"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="image-form-actions">
        <button
          *ngIf="allowDelete"
          mat-raised-button
          color="accent"
          (click)="deleteImage(i)"
          attr.aria-label="Delete {{imageControl.value.media_type.toLowerCase()}} {{i+1}}."
        >
          <app-icon-text
            icon="delete"
            text="Delete"
          ></app-icon-text>
        </button>
      </div>
    </div>
  </div>
</form>
