<mat-card *ngIf="profile">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title
      role="heading"
      tabindex="0"
      id="pageTitle"
    >User Profile</mat-card-title>
    <mat-card-subtitle
      role="heading"
      aria-level="3"
      tabindex="0"
    >{{profile.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <ng-container [ngTemplateOutlet]="controls"></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <app-user-profile
      (viewClinic)="goToClinic($event)"
      [profile]="profile"
    ></app-user-profile>
    <mat-list *ngIf="formResponses.length">
      <h3>Form Responses</h3>
      <mat-list-item *ngFor="let response of formResponses;">
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <h4 mat-line>{{response.form_name}}</h4>
        <span mat-line>Submitted on {{response.created_at | humanDateWithTime}}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<ng-template #controls>
  <a
    *ngIf="canEditInfo"
    [routerLink]="editProfileInfoLink(profile.id)"
    mat-raised-button
    title="Edit your profile information"
  >
    Edit Info
  </a>
  <a
    *ngIf="canEditPrivileges"
    [routerLink]="editProfilePrivilegesLink(profile.id)"
    mat-raised-button
    title="Edit profile privileges"
  >
    Edit Privileges
  </a>
  <a
    *ngIf="canViewSails"
    [routerLink]="viewUserSailsRouteLink(profile.id)"
    mat-raised-button
    title="view users's sails"
  >
    View Sails
  </a>
  <button
    *ngIf="canLinkAccounts"
    (click)="openLinkAccountsDialog()"
    mat-raised-button
    title='link this account to another account'
  >
    Link accounts
  </button>
  <a
    *ngIf="canViewPurchases"
    [routerLink]="viewUserPurchasesRouteLink()"
    [queryParams]="{profile_id}"
    mat-raised-button
    title="view users's purchases"
  >
    Purchases
  </a>
</ng-template>
