<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>mms</mat-icon>
    </div>
    <mat-card-title
      id="pageTitle"
      tabindex="0"
    >Media</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <ng-container
      *ngIf="shouldShowControls"
      [ngTemplateOutlet]="controls"
    ></ng-container>
  </mat-card-actions>
  <mat-card-content>
    <app-image-list
      (deleteClick)="deleteMedia($event)"
      (goToProfile)="showProfileDialog($event)"
      (gotToEntity)="goToEntity($event)"
      [allowDelete]="allowDelete"
      [pictures]="media"
      [profiles]="profiles"
      [showAuthor]="true"
      [showEntity]="true"
      [user]="user"
    ></app-image-list>
    <mat-paginator
      (page)="paginationHandler($event)"
      [length]="paginatedData?.total || 0"
      [pageSizeOptions]="[10, 20, 50]"
      [pageSize]="20"
      [showFirstLastButtons]="paginatedData?.total > paginatedData?.count"
      aria-label="Select page of pictures"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>

<ng-template #controls>
</ng-template>
